nav {
    display: flex;
    width:100%;
    margin: 0px;
    flex-direction: row-reverse;
    flex: 1 1 0%; 
}

html {
    width:100%;
    height:100%;
}
body {
    background-color: rgba(220, 220, 220);
    margin: auto;
    width: 100vw;
    height: 100vh;
    max-width: 1256px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
}

main {
    flex: 1 1 0%;
    width:100%;
    height: 100%;
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    gap: 0px;
    box-shadow: 1px 5px 10px 5px #696969;
    border-radius: 10px;
}

article {
    width: 100%;
    position: relative;
}

aside{
    height:100%;
    flex: 1 1 0%;
}

[id^="arrow"] {
    background-color: #ebebeb;
    width: 30px;
    height: 100%;  
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

[id^="arrow"]::before {
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
    font-weight: 1000;
    vertical-align: baseline;
}

[id^="arrowLeft"] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

[id^="arrowRight"] {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

[id^="arrowLeft"]::before {
    content: '<';
}

[id^="arrowRight"]::before {
    content: '>';
}

[id^="arrow"][id$="Inactive"] {
    color: aliceblue;
}

[id^="arrow"]:hover {
    background-color: rgb(215, 215, 215);
}

article {
    flex: 1 1 100%; 
}

#picture {
    aspect-ratio: 18 / 9;
    height: 100%;
    width: 100vw;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

#pictureText {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: left;
    color: white;
    height: 75px;
}

#pictureText * {
    margin: 5px;
}

#pictureTitle {
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

#pictureDescription {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

#gallery {
    height:100%;
    flex: 1 1 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
}

.galleryThumbnail {
    width: 100px;
    height: 55px;
    margin: 20px 12px 0px 12px;
    box-shadow: 1px 5px 10px 5px #696969;
    border-radius: 3px;
}

#galleryThumbnailActive {
    width: 116px;
    height: 60px;
    margin: 20px 0px 0px 0px;
    border: 4px solid rgba(50, 60, 150, 0.8);
}

.galleryThumbnail:hover {
    width: 116px;
    height: 60px;
    border: 4px solid rgba(150, 50, 50, 0.8);
    margin: 20px 0px 0px 0px;
}