nav{
    position: relative;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
}
body{
    background-color: rgba(220, 220, 220);
    margin:auto;
    min-width: 850px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    height:100vh;
}
main{
    text-align: center;
    display: flex;
    align-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    height:450px;
    box-shadow: 1px 5px 10px 5px #696969;
    border-radius: 5px;
}
article{
    position:relative;
}
aside{
    background-color:#ebebeb;
    width: 50px;
    height:450px;
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
[id^="asideLeft"]::before {
    content: '<';
}
[id^="asideRight"]::before {
    content: '>';
}
[id^="aside"][id$="Inactive"]{
    color:aliceblue;
}
[id^="aside"]::before{
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
    font-weight: 1000;
    text-align: center;
    margin: auto;
    padding: auto;
    vertical-align: baseline;
}
aside:hover{
    background-color:rgb(215, 215, 215);
}
#picture {
    width: 800px;
    height: 450px;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 1px #696969;
}
#pictureText{
    background-color: rgba(0, 0, 0, 0.6);
    position:absolute;
    top: 375px;
    width: 800px;
    text-align:left;
    color:white;
    height:75px;
}
#pictureText *{
margin:5px;
}
#pictureTitle {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#pictureDescription {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px; 
}
#gallery{
    margin:auto;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    height:100px;
}
.galleryThumbnail{
    width: 100px;
    height: 55px;
    margin-top: 20px 18px 18px 0px;
    box-shadow: 1px 5px 10px 5px #696969;
    border-radius: 3px;
}
#galleryThumbnailActive{
    width: 120px;
    border: 4px solid rgba(50, 60, 150, 0.8);
}
.galleryThumbnail:hover{
    width: 116px;
    border: 4px solid rgba(150, 50, 50, 0.8);
    margin-left: 20px 10px 0px 0px;
}