nav{
    position: relative;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
}
body{
    background-color: rgb(240, 240, 240);
    margin:auto;    
    min-width: 850px;
    text-align: left;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    height:100vh;
}
article{
    max-width: 500px;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
}